@charset "utf-8";


/* CSS Document */

/** * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, .menu, output, ruby, section, summary, time, mark, audio, video {
	
	
	margin: 0;
	
	
	padding: 0;
	
	
	border: 0;
	
	
	font-size: 100%;
	
	
	font: inherit;
	
	
	vertical-align: baseline;
	
	


}




/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, .menu, section {
	
	
	display: block;
	
	


}




body {
	
	
	line-height: 1;
	
	


}




ol, ul {
	
	
	list-style: none;
	
	


}




blockquote, q {
	
	
	quotes: none;
	
	


}




blockquote:before, blockquote:after, q:before, q:after {
	
	
	content: '';
	
	
	content: none;
	
	


}




table {
	
	
	border-collapse: collapse;
	
	
	border-spacing: 0;
	
	


}




/**-----MAIN-----**/

body {
	
	
	background: #e8e8e8;
	
	


}




#wrapper {
	
	
	width: 1024px;
	
	
	height: 100%;
	
	
	margin: 1em auto;
	
	
	margin-top: 0;
	
	
	overflow: hidden;
	
	


}




#header {
	
	


}




#logo {
	
	
	margin-top: 10px;
	
	


}




#menu {
	
	


}




#menu ul {
	
	
	padding: 0px 250px;
	
	
	list-style: none;
	
	
	display: inline-table;
	
	
	border-top-left-radius: 5px;
	
	
	border-top-right-radius: 5px;
	
	
	margin-top: 50px;
	
	
	background: #45484d;
	
	
	/* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	
	
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
	
	
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
	
	
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
	
	
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
	
	
	/* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
	
	
	
	
	
	

   /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0 );
	
	
/* IE6-9 */







}




#menu ul li {
	
	
	float: left;
	
	
	padding: 10px 29.4px;
	
	
	border-left: 1px solid #5F5F5F;
	
	
	border-right: 1px solid #5F5F5F;
	
	
	text-transform: uppercase;
	
	


}




#menu ul li:hover {
	
	
	background: #b2b2b2;
	
	
	/* Old browsers */
	background: -moz-linear-gradient(top, #b2b2b2 0%, #333333 100%);
	
	
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #333333));
	
	
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2b2b2 0%, #333333 100%);
	
	
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2b2b2 0%, #333333 100%);
	
	
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b2b2b2 0%, #333333 100%);
	
	
	/* IE10+ */
	background: linear-gradient(to bottom, #b2b2b2 0%, #333333 100%);
	
	
	
	
	
	
  
   /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#333333', GradientType=0 );
	
	
/* IE6-9 */








}




#menu ul li:hover a {
	
	
	color: #fff;
	
	


}




#menu ul li a {
	
	
	display: block;
	
	
	color: #D8D8D8;
	
	
	text-decoration: none;
	
	
	text-shadow: 0px 1px 5px rgba(152, 150, 150, 0);
	
	
	font: normal 15px Verdana, Geneva, sans-serif;
	
	


}



#slideshow-wrap {
	
	


}




#content {
	
	


}




#content h3 {
	
	
	margin-left: 250px;
	
	
	text-align: center;
	
	
	font: bold 20px "Arial Black", Gadget, sans-serif;
	
	
	color: #303030;
	
	


}




#content h4 {
	
	
	margin-top: 45px;
	
	
	text-align: center;
	
	
	font: bold 15px "Arial Black", Gadget, sans-serif;
	
	
	color: #303030;
	
	
	width: 500px;
	
	
	margin-left: 250px;
	
	

	


}




#content p {
	
	
	text-align: center;
	
	
	margin-left:260px;
	
	
	font: normal 15px "Arial Black", Gadget, sans-serif;
	
	
	color: #303030;
	
	


}




#par_group {
	
	
	margin-bottom: 300px;
	
	


}




#par_group .values, #par_group .vision, #par_group .different {
	
	
	
	margin-top:20px;
  
	width: 90%;
	
	
	font: bold 15px Arial, Helvetica, sans-serif;
	
	


}




#par_group .values span, #par_group .vision span, #par_group .different span {
	
	
	font: normal 15px Arial, Helvetica, sans-serif;
	
	


}

#aboutUs2{
    
    width:780px;
    height:350px;
    
   
}
#aboutUs2 p{
    margin-top:-150px;
    margin-left:0px;
    text-align:justify;
    font: medium 15px Arial, Helvetica, sans-serif;
    
}

#aboutUs2 img {
		
	width: 220px;
	margin-left:800px;
	


}

#aboutUs .img2{
    
   
    margin-top:-30px;
}

.readMor{
    
    float:right;
    margin-top:-15px;

    
}


.company {
	
	
	margin: 40px 0 0 10px;
	
	
	border-radius: 10px;
	
	
	height: 140px;
	
	


}




#aboutUs h1 {
	
	
	font: bold 20px Arial, Helvetica, sans-serif;
	
	
	text-transform: uppercase;
	
	
	color: #0b848d;
	
	
	float: right;
	
	
	margin-top: -170px;
	
	
	margin-left: 230px;
	
	
	margin-right: 32px;
	
	


}




#aboutUs h1 span {
	
	
	font: bold 15px Arial, Helvetica, sans-serif;
	text-transform:lowercase;
	
	color: #545454;
	
	
	text-transform: none;
	
	


}
#aboutUs p span{
    
    color: #0b848d;
    font: bold 12px Helvetica,Arial,sans-serif;
}

#aboutUs p {
	
	
	float: left;

	margin-top: -105px;
	
	
	margin-left: 230px;
	
	
	margin-right: 32px;
	
	
	font: normal 13px Arial, Helvetica, sans-serif;
	
	
	color: #6b6b6b;
	
	
	text-align: justify;
	


}




#whyUs {
	
	
	margin: -454px 0px 10px -14.5px;
	
	z-index:2;
	
    position:absolute;
	


}



#box1, #box2, #box3 {
	
	
	padding: 20px 20px;
	
	
	height: 210px;
	
	
	width: 240px;
	
	
	text-align: justify;
	
	


}




/***BEGIN BOX ****/
#box1 {
	
	
	margin-left: 15px;
	
	
	
	background: #0e919b ;
	
	
	


}




#box2 {
	
	
	margin-left: 296px;
	
	
	margin-top: -250px;
	
	
	background:#67c56b ;
	
	;
	
	
	


}




#box3 {
	
	
	margin-left: 577px;
	
	

	margin-top: -250px;
	
	
	background: #e3c134;
	
	


}




/***END BOX ****/
#box1 h2, #box2 h2, #box3 h2 {
	
	
	font: bold 20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
	
	
	text-shadow: 1px 0px 2px rgba(152, 150, 150, 1);
	
	
	padding-bottom: 10px;
	
	
	color: #fff;
	
	
	text-align: center;
	
	


}




#box2 p {
	
	
	padding-top: 20px;
	
	


}




#box1 p, #box2 p, #box3 p {
	
	
	font: bold 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;
	
	
	margin: 0;
	
	
	text-shadow: 1px 0px 2px rgba(152, 150, 150, 1);
	
	
	color: #fff;
	
	


}


#button1{
 	font:bold 13px Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 8px 10px;
	background: -moz-linear-gradient(
		top,
		#00b6ca 0%,
		#00b6ca 25%,
		#00b6ca);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#00b6ca),
		color-stop(0.25, #00b6ca),
		to(#00b6ca));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(4,199,217,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(4,199,217,1);
	box-shadow:
		0px 3px 11px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(4,199,217,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
    margin:20px 0px 0px 75px;
    
}
#button2{
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 8px 10px;
	background: -moz-linear-gradient(
		top,
		#52fb57 0%,
		#52fb57 25%,
		#52fb57);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#52fb57),
		color-stop(0.25, #52fb57),
		to(#52fb57));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(82,251,87,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(82,251,87,1);
	box-shadow:
		0px 2px 5px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(82,251,87,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
    margin:10px 0px 0px 75px;
    

}
#button3{
    font: bold 13px Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 8px 10px;
	background: -moz-linear-gradient(
		top,
		#ffcc02 0%,
		#ffcc02 25%,
		#ffcc02);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffcc02),
		color-stop(0.25, #ffcc02),
		to(#ffcc02));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(255,204,2,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(255,204,2,1);
	box-shadow:
		0px 3px 5px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(255,204,2,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
     margin:50px 0px 0px 75px;
}

#button1:hover, #button2:hover, #button3:hover{
  
    color:gray;
}

#button2{
    
}
#offer {
	
	
	margin: 10px 256px 20px 100px;
	
	
	width: 550px;
	
	


}




#offer .off {
    
	word-wrap:break-word;
	width:400px;
	
	text-align: justify;
	
	
	font: bold 18px "Fira Sans Bold";
	
	
	text-shadow: 0px 1px 2px rgba(152, 150, 150, 0);
	
	
	margin-bottom: 10px;
	
	


}




#offer img {
	
	
	float: left;
	
	
	margin-left: 130px;
	
	
	width: 100px;
	
	


}




#offer .off .span1 {
	
	
	text-align: justify;
	
	margin: 15px;
	
	
	font: normal 15px "Fira Sans Bold";
	
	
	text-shadow: 0px 1px 2px rgba(152, 150, 150, 0);
	
	


}




#footer {
	
	
	background: #d1d1d1;
	
	
	margin-top: 100px;
	
	


}




#footer_nav {
	
	
	width: 350px;
	
	
	margin-left: 50px;
	
	


}




#footer_nav li {
	
	
	margin: 20px 10px 15px 0px;
	
	
	display: inline-table;
	
	


}




#footer li a {
	
	
	text-decoration: none;
	
	
	color: white;
	
	


}




#footer h4 {
	
	
	width: 170px;
	
	
	color: #2D2D2D;
	
	
	margin-left: 320px;
	
	
	padding: 15px 50px;
	
	
	text-align: center;
	
	
	font: normal 12px Arial, Helvetica, sans-serif;
	
	


}




#footer h4 a {
	
	
	padding: 0px 5px;
	
	
	text-decoration: none;
	
	
	color: #0082BF;
	
	


}




#footer h4 a:hover {
	
	
	background: #0082BF;
	
	
	color: white;
	
	


}




#footer p span {
	
	


}




.subscribe {
	
	
	background: #f7f7f7;
	
	
	background-image: -webkit-linear-gradient(top, #f7f7f7, #e6e6e6);
	
	
	background-image: -moz-linear-gradient(top, #f7f7f7, #e6e6e6);
	
	
	background-image: -ms-linear-gradient(top, #f7f7f7, #e6e6e6);
	
	
	background-image: -o-linear-gradient(top, #f7f7f7, #e6e6e6);
	
	
	background-image: linear-gradient(to bottom, #f7f7f7, #e6e6e6);
	
	
	-webkit-border-radius: 12;
	
	
	-moz-border-radius: 12;
	
	
	border-radius: 12px;
	
	
	text-shadow: 1px 1px 8px #cfcfcf;
	
	
	font-family: Arial;
	
	
	color: #7a7a7a;
	
	
	font-size: 15px;
	
	
	padding: 6px 10px 6px 8px;
	
	
	text-decoration: none;
	
	
	text-transform: lowercase;
	
	


}




.subscribe:hover {
	
	
	background: #dedede;
	
	
	background-image: -webkit-linear-gradient(top, #dedede, #d1d1d1);
	
	
	background-image: -moz-linear-gradient(top, #dedede, #d1d1d1);
	
	
	background-image: -ms-linear-gradient(top, #dedede, #d1d1d1);
	
	
	background-image: -o-linear-gradient(top, #dedede, #d1d1d1);
	
	
	background-image: linear-gradient(to bottom, #dedede, #d1d1d1);
	
	
	text-decoration: none;
	
	


}




#footer label {
	
	
	font: normal 18px Arial;
	
	
	text-transform: uppercase;
	
	
	color: #7a7a7a;
	
	


}




.social {
	
	
	font: bold 17px Verdana, Geneva, sans-serif;
	
	
	color: #7a7a7a;
	
	
	margin-left: 620px;
	
	
	padding: 0;
	
	
	list-style-type: none;
	
	
	text-align: center;
	
	
	width: 350px;
	
	


}

.social li h3{
    position:relative;
    left:0px;
    bottom:5px;
    width:200px;
    
}


.social ul {
	
	
	display: inline-table;
	
	
	padding: 15px 5px;
	
	


}




.social ul li {
	
	
	display: inline;
	
	
	margin: 15px 0px 15px 5px;
	
	


}

.copy {
  
    float:left;
	color: #272727;
    margin-top:-130px;
    margin-left:20px;
}


.submitForm {
	
	
	margin-left: 560px;
	
	
	padding: 0px;
	
	
	text-align: center;
	
	
	margin-top: -75px;
	
	


}




/* Slider style */

ul.slides {
	
	
	position: relative;
	
	
	list-style: none;
	
	
	padding: 0;
	
	
	margin: 0;
	
	
	overflow: hidden;
	
	
	display: none;
	
	


}




li.slides-slide {
	
	
	position: absolute;
	
	
	display: none;
	
	


}




ol.slides-markers {
	
	
	list-style: none;
	
	
	padding: 0;
	
	
	margin: 0;

	width: 100%;
	
	


}




ol.slides-markers.h-centered {
	
	
	text-align: center;
	
	


}




ol.slides-markers li {
	
	
	display: inline;
	
	


}




ol.slides-markers li a {
	
	
	display: inline-block;
	
	


}




p.slides-caption {
	
	
	display: block;
	
	
	width: 96%;
	
	
	margin: 0;
	
	
	padding: 2%;
	
	
	position: absolute;
	
	
	bottom: 0;
	
	


}




#slideshow-wrap {
	
	
	margin-bottom: 60px;
	
	
	display: block;
	
	margin-top: 0px;
	
	
 

}




ol.slides-markers {
	

	margin-left: 900px;
	
    background: rgba(24, 28, 32, .5);
	
    width:auto;
	
    height:25px;
	
    border-radius:10px;
	

}




ol.slides-markers li a {
	
	
	font-size: 0px;
	
	
	bottom: 60px;
	

	margin:5px 5px 0px 5px;
	
	width: 12px;
	
	
	height: 12px;
	
	
	background: #D8D8D8;
	
	
	-webkit-border-radius: 50%;
	
	
	-moz-border-radius: 50%;
	
	
	border-radius: 50%;
	
	
	cursor: pointer;
	
	
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	
	
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	
	
	box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	
	
	-webkit-transition: background-color .2s;
	
	
	-moz-transition: background-color .2s;
	
	
	-o-transition: background-color .2s;
	
	
	transition: background-color .2s;
	
	


}




ol.slides-markers li.active-marker a, ol.slides-markers li a:hover {
	
	
	background: #007EBB;
	
	


}




p.slides-caption {
	
	
	background: rgba(24, 28, 32, 0);
	
	
	text-transform: capitalize;
	
	


}




#mini-header h1 {
	
	
	background: gray;
	
	
	color: White;
	
	
	font: bold 20px Arial, Helvetica, sans-serif;
	
	
	padding: 20px 100px;
	
	


}




/**SERVICES PAGE***/
#acct_packages {
	
	
	margin: 20px 0px 0px 0px;
	
	
	padding: 0px;
	
	
	width: 60%;
	
	
	box-shadow: 0px 5px 5px 2px #888888;
	
	


}




#acct_packages tr:nth-child(odd) {
	
	
	background-color: #aad4ff;
	
	


}




#acct_packages tr:nth-child(even) {
	
	
	background-color: #ffffff;
	
	


}




#acct_packages td {
	
	
	vertical-align: middle;
	
	
	border: 1px solid gray;
	
	
	border-width: 0px 1px 1px 0px;
	
	
	text-align: left;
	
	
	padding: 5px 5px;
	
	
	font-size: 13px;
	
	
	font-family: Arial;
	
	
	color: #352f2f;
	
	


}

#professionalism{
    
    width:500px;
}
#mini_head2 h3{
  
    margin-left:-310px;
    margin-top:60px;
    font:normal 25px Arial ,Helvetica Neue, sans-serif;

    
}
#professionalism ul {
    
    margin-top:20px;
}
#professionalism ul li img{
    
    padding:5px;
}

#head2 td {
	
	
	text-align: center;
	
	
	font: bold 12px arial;
	
	
	padding: 10px 0px;
	
	


}




#acct_packages td img {
	
	
	margin-left: 25px;
	
	


}




#price td {
	
	
	font-weight: bolder;
	
	
	text-transform: capitalize;
	
	
	text-align: center;
	
	
	padding: 15px 0px;
	

}




#price span {
	
	
	border-bottom: 5px double #ff2a00;
	


}


#basic:hover, #delux:hover, #prem:hover {
	
    box-shadow: 0px 0px 10px 2px #888888;
	

}

#products{
  
}
#acct_products{

}

#head{
    text-align:center;
    margin-right:300px;
    margin-top:20px;
    
}
#other h4{
    margin-top:70px;
    margin-left:325px;
    word-wrap:break-word;
    width:350px;
    
}
.basic{
    border-right:1px dotted black;
    width:300px;
    margin-top:120px;
}
.basic_price, .delx_price, .prem_price{
    font:bold 15px Arial, Helvetica, sans-serif;
    text-align:center;
    padding:15px 0px; 
    
}
.basic1, .deluxe1, .prem1{
    font:bold 15px Arial, Helvetica, sans-serif;
    text-align:center;
    padding:15px 0px;  
}


.deluxe{
    border-right:1px dotted black;
    width:300px;
    margin-top:-300px;
    margin-left:330px;
}
.prem{
   
    width:300px;
    margin-top:-330px;
    margin-left:660px;
   
}
.other_services1, .financial1, .business1{
    font:bold 15px Arial, Helvetica, sans-serif;
    text-align:center;
    padding:15px 0px;  
}

.other_services{
    border-right:1px dotted black;
    width:320px;
    margin-top:0px;
    padding:0px 5px;
}
.financial{
    
    width:300px;
    margin-top:-235px;
    margin-left:350px;
    padding:0px 15px;
}
.business{
    border-left:1px dotted black;
    padding:0px 15px;
    width:350px;
    margin-top:-215px;
    margin-left:650px;
}

.other_services span, .financial span, .business span{
    font:bold 15px Arial, Helvetica, sans-serif;
    text-align:center;
    padding:15px 0px; 
    
}
.other_services1, .financial1, .business1, #head h3{
    color:#0082BF;
    
}
.more1, .more2, .more3{
    font:bold 15px Arial, Helvetica, sans-serif;
    text-align:center;
    padding:15px 0px;  
    
}
/******CONTACT PAGE STYLE********/
#content .we_offer {
	word-wrap:break-word;
    width:600px;
	
	padding: 5px;
	
	
	margin-top: 10px;
	
	
	margin-left: 10px;
  
	
	
	font: bold 14px Arial, Helvetica, sans-serif;
	
	
	color: #2c2c2c;
	
	
	text-align: justify;
	
	


}




#content .contact, #content .followUs {
	
	
	margin: 0;
	
	
	width: 300px;
	
	
	text-align: left;
	
	margin-left:550px;
	font: bold 15px Arial, Helvetica, sans-serif;
	
	
	padding: 12px;
	
	


}




.contact a, .followUs a {
	
	
	text-decoration: none;
	
	
	color: #0082BF;
	
	
	border-bottom: 1px dashed #0082BF;
	
	


}




#content .contact span, #content .followUs span {
	
	
	font: normal 15px Arial, Helvetica, sans-serif;
	
	


}




#content .table_form {
	
	
	margin-top: -175px;
	
	
	margin-left: 10px;
	
	


}




.table_form li {
	
	
	width: 100px;
	
	


}




.table_form label {
	
	
	font: normal 15px Arial, Helvetica, sans-serif;
	
	


}




.table_form input, textarea {
	
	
	background-image: url(images/form_bg.jpg);
	
	
	background-repeat: repeat-x;
	
	
	border: 1px solid #d1c7ac;
	
	
	width: 330px;
	
	
	color: #333333;
	
	
	padding: 3px;
	
	
	margin-right: 4px;
	
	
	margin-bottom: 8px;
	
	
	font-family: tahoma, arial, sans-serif;
	
	


}




#submit {
	
	
	margin-left: 190px;
	
	
	background: #88c4eb;
	
	
	background-image: -webkit-linear-gradient(top, #88c4eb, #2b6182);
	
	
	background-image: -moz-linear-gradient(top, #88c4eb, #2b6182);
	
	
	background-image: -ms-linear-gradient(top, #88c4eb, #2b6182);
	
	
	background-image: -o-linear-gradient(top, #88c4eb, #2b6182);
	
	
	background-image: linear-gradient(to bottom, #88c4eb, #2b6182);
	
	
	-webkit-border-radius: 6;
	
	
	-moz-border-radius: 6;
	
	
	border-radius: 6px;
	
	
	font-family: Arial;
	
	
	color: #ffffff;
	
	
	font-size: 13px;
	
	
	width: 150px;
	
	
	padding: 8px 5px 8px 5px;
	
	
	text-decoration: none;
	
	


}




#submit:hover {
	
	
	background: #57c1ff;
	
	
	background-image: -webkit-linear-gradient(top, #57c1ff, #0c66a3);
	
	
	background-image: -moz-linear-gradient(top, #57c1ff, #0c66a3);
	
	
	background-image: -ms-linear-gradient(top, #57c1ff, #0c66a3);
	
	
	background-image: -o-linear-gradient(top, #57c1ff, #0c66a3);
	
	
	background-image: linear-gradient(to bottom, #57c1ff, #0c66a3);
	
	
	text-decoration: none;
	
	


}












/****adjustment for Chrome***/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	
	
#copy {
		
		
	margin-top: -100px;
		
		

	
	}

	

	
.off .span1 {
		
		
	margin: 15px;
		
		
	font: normal 13px Verdana, Geneva, sans-serif;
		
		

	
	}

	

	


}
